<div class="footer mt-5">
    <div class="row container">
      <div class="col-md-5 my-3">
       <h5>Mission</h5>
        <p>To inspire hope and contribute to health and well-being 
            by providing the best care to every patient through integrated 
            clinical practice, education and research.</p>
      </div>
      <div class="col-md-5 my-3">
        <h5>Vision</h5>
        <p>To create a better everyday life for many
            people.</p>
      </div>
      <div class="col-md-2 my-3">
          <p>Helping You Achieve
          The peak of your Health</p>
      </div>
      <div class="icons my-3">
        <a href="https://web.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin" ></i></a>
    </div>
     <p id="footer" >Tiba Hospital @2022 All Rights Reserved</p>
    </div>

   


 
  
