<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/logo.jpg"  alt="" width="60" height="55">
    </a>
    <a class="navbar-brand" href="/"  style="font-family: 'Gulzar', serif;font-size:35px;color:black;">Tiba Hospital</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/reception']">Reception</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/nurse']">Nurse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/lab']">Lab</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/doctor']">Doctor</a>
        </li>
      </ul>
      <div class="d-flex">
        <a class="nav-link active"  *ngIf="!loggedinstatus"  aria-current="page" [routerLink]="['/login']"><i class="fa-solid fa-right-to-bracket" style="color:black;font-size: 30px; margin-right: 7px;"></i><span style="color:black; font-family: 'Gulzar', serif; font-size: 20px;">Login</span></a>
        <!-- <a class="nav-link active"   *ngIf="!loggedinstatus" aria-current="page" [routerLink]="['/register']">Register</a> -->
        <button class="btn btn-small shadow-none px-3 ms-2"  *ngIf="loggedinstatus" (click)="logout()"><i class="fa-solid fa-right-from-bracket" style="font-size: 30px; margin-right: 5px;"></i><span style="font-family: 'Gulzar', serif; font-size: 20px;">Logout</span></button>

      </div> 
    </div>
  </div>
</nav>