<div class="container">
  <div class="col-md-8 mt-5">
    <!-- <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
          <th>Residence</th>
          <th>Contacts</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of patientData">
          <td>
            <span>{{ item.full_name }}</span>
          </td>
          <td>
            <span>{{ item.age }}</span>
          </td>
          <td>
            <span>{{ item.email }}</span>
          </td>
          <td>
            <span>{{ item.residence }}</span>
          </td>
          <td>
            <span>{{ item.phone_number}}</span>
          </td>
          <td>
            <span>{{ item.gender }}</span>
          </td>
          <td>
            <button
              type="reset"
              class="btn btn-primary"
            
            >
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>

  <button
    class="btn btn btn-outline-primary"
    data-bs-toggle="modal"
    data-bs-target="#updateModal"
  >
    Add Patient
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="updateModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reception</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form >
            <div class="mt-5 box">
              <div class="mb-3 mt-4">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="full_name"
                  [(ngModel)]="patient.full_name"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
                <div id="emailHelp" class="form-text"></div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Age</label>
                <input
                  type="number"
                  class="form-control"
                  name="age"
                  [(ngModel)]="patient.age"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
                <div id="emailHelp" class="form-text"></div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Residence</label>
                <input
                  type="text"
                  class="form-control"
                  name="residence"
                  [(ngModel)]="patient.residence"
                  id="exampleInputPassword1"
                />
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  [(ngModel)]="patient.email"
                  id="exampleInputPassword1"
                />
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Contacts</label>
                <input
                  type="number"
                  class="form-control"
                  name="phone_number"
                  [(ngModel)]="patient.phone_number"
                  id="exampleInputPassword1"
                />
              </div>
              <!-- <div class="mb-3">
                <select class="form-select" name="gender" id="gender" formControlName="gender">
                  <option value="">Gender</option>
                  <option value="male" id="male">Male</option>
                  <option value="female" id="female">Female</option>
                </select>
              </div> -->
              <!-- <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  formControlName="gender"
                  id="exampleInputPassword1"
                />
              </div> -->

              <div class="row">
                <div class="col-6">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    (click)="savePatient()">
                    Add
                  </button>
                </div>
                <div class="col-6">
                  <button
                    type="reset"
                    class="btn btn-primary"
                    (click)="newpatient()"
                  >
                    Reset</button
                  >
                  <br /><br />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
