<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500&display=swap" rel="stylesheet">
<div id="docdoc">
  <h2 class="sign mt-3 text-center" id="lmm">Reception</h2>
    <div class="row">
      <div class="col-md-6 mt-3" id="mmm">
        <img src="assets/images/julia-zyablova-S1v7hVUiCg0-unsplash.jpg" alt="" style="width: 100%; height: 500px;">

      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-center form_container">
          <form>
            
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                [(ngModel)]="name"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="email" class="form-control"  name="username" [(ngModel)]="username" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text"></div>
              </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                [(ngModel)]="email"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text"></div>
            </div>
  
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="password"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">
                Confirm Password</label
              >
              <input
                type="password"
                class="form-control"
                name="confirm_password"
                [(ngModel)]="confirm_password"
                id="exampleInputPassword1"
              />
            </div>
            <button type="submit" class="btn" (click)="register()" id="btt">
              REGISTER</button
            ><br /><br />
            <p>
          </form>
        </div>
      </div>
    </div>
  </div>
  

