h2{
    text-align:center;
    font-size:30px;
    color: #7BDFF2;
    padding-top: 15px;

}
/* #bg{
    background-color: pink;

} */
body {
    position: relative;
    font-weight: 700;
    background-color: #FFE0E3;
}

/* #back{
    height: 1000%;
} */
#loglog{
    background-color: #FFE0E3;
    /* background-size: cover; */


}
/* #mmm{
    margin-left: 2%;
    float: left;
} */
button{
    background-color:#7BDFF2;
    width: 100%;
    border-radius: 20px;
    color: whitesmoke;
}

#lmm{
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 50px;
 
}

#form {
    margin-top: 50px;
    padding-top: 50px;
    margin-left: 120px;

}