
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500&display=swap" rel="stylesheet">
<body>
<h2 class="sign text-center" id="lmm">LOGIN</h2>
<div class="container-fluid" id="loglog">
    <div class="row">

 
    
      <div class="col-md-6 mt-5" id="mmm">
        <img src="assets/images/julia-zyablova-S1v7hVUiCg0-unsplash.jpg" alt="" style="width: 100%; height: 500px;" id="back">
      </div>
<!-- <div class="float-md-left"> </div>-->
<!-- <div class="container my-5" id="sides">
    <div class="row"> -->
      <!-- <div class="col-md-6 my-5" id="sides">
        <div class="d-flex justify-content-center form_container"> -->
          <!-- <div class="row">
      <div class="col-md-12"> -->
        
    <!-- <form >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" [(ngModel)]="email"  name="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password"  [(ngModel)]="password" name="password" class="form-control" id="exampleInputPassword1">
          </div>
  
          <button type="submit" (click)="login()"  class="btn btn-primary">Login</button> <br><br>
          <p><small>Don't Have an account? <a [routerLink]="['/register']" class="ml-2">Sign up</a></small></p>
        </form> -->

            <!-- </div>
          </div> -->
          <div class="col-md-5">
            <form  id="form">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" [(ngModel)]="email"  name="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password"  [(ngModel)]="password" name="password" class="form-control" id="exampleInputPassword1">
                </div>
        
                <button type="submit" (click)="login()"  class="btn btn-primary">Login</button><br><br>
                <!-- <p><small>Don't Have an account? <a [routerLink]="['/register']" class="ml-2">Sign up</a></small></p> -->
              </form>
          </div>
        </div>
      </div>
    <!-- </div>
  </div> -->
  </body>

  
